<div class="page page--recipe">
  <div class="page__content ">

    <section class="container grid-columns recipe-content">
      <div class="column">
        <img class="image" [src]="recipe.imagePath" alt="{{recipe.name}}">
      </div>
      <div class="column">
        <div class="details">
          <h2 class="title">{{recipe.name}}</h2>
          <div class="info">
            <h4 class="subtitle">Info:</h4>
            <p class="category" [routerLink]="['/category', recipe.categoryId]"> <span>Category: </span> {{category}}
            </p>
            <div class="grid-columns">
              <p class="text time flex-align-items"><span>Time:</span> <svg xmlns="http://www.w3.org/2000/svg"
                  class="clockIcon" viewBox="0 0 24 24">
                  <path
                    d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.848 12.459c.202.038.202.333.001.372-1.907.361-6.045 1.111-6.547 1.111-.719 0-1.301-.582-1.301-1.301 0-.512.77-5.447 1.125-7.445.034-.192.312-.181.343.014l.985 6.238 5.394 1.011z" />
                </svg>
                {{recipe.time}} mins</p>
              <p class="text difficulty flex-align-items">
                <span>Difficulty: </span>
                <span *ngIf="recipe.difficultyId === 1">
                  <img class="difficultyIcon" src="assets/images/recipes/chefHat.svg" alt="chefHat">
                </span>
                <span *ngIf="recipe.difficultyId === 2">
                  <img class="difficultyIcon" src="assets/images/recipes/chefHat.svg" alt="chefHat">
                  <img class="difficultyIcon" src="assets/images/recipes/chefHat.svg" alt="chefHat">
                </span>
                <span *ngIf="recipe.difficultyId === 3">
                  <img class="difficultyIcon" src="assets/images/recipes/chefHat.svg" alt="chefHat">
                  <img class="difficultyIcon" src="assets/images/recipes/chefHat.svg" alt="chefHat">
                  <img class="difficultyIcon" src="assets/images/recipes/chefHat.svg" alt="chefHat">
                </span>
                {{ difficulty | titlecase }}
              </p>
            </div>
          </div>
        </div>
        <div class="ingredients">
          <h4 class="subtitle">Ingredients:</h4>
          <ul class="ingredients__list">
            <ng-container *ngFor="let ingredient of ingredients">
              <li class="ingredient">
                <span class="ingredient__icon">&#9672;</span>
                <span class="ingredient__name">{{ingredient.name}}</span>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </section>

    <section class="container recipe-preparation">
      <h4 class="subtitle">Preparation:</h4>
      <p class="text">{{recipe.preparation}}</p>
    </section>

  </div>
</div>
