.page--recipe {
  margin-top: 50px;

  .recipe-content {
    margin-bottom: 50px;
  }

  .image { width: 100%; }
  .details { margin-bottom: 30px; }

  .category {
    display: inline-block;
    text-shadow: 1px 1px var(--primaryColor);
    padding: 4px 0;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      color: var(--primaryColor);
      text-shadow: 1px 1px var(--blackColor);
    }
  }

  .time, .difficulty {
    span { margin-right: 8px;}
  }

  .difficultyIcon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  .ingredients__list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .ingredient {
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 1px 1px var(--primaryColor);
    &__icon {
      margin-right: 10px;
    }
  }

  .subtitle {
    text-decoration: underline;
  }

}

@media all and (max-width: 1280px) {
  .page--recipe {
    .grid-columns {
      grid-template-columns: repeat(2, 1fr);
      max-width: 90%;
    }
  }
}

@media all and (max-width: 980px) {
  .page--recipe {
    font-size: 1.5em;
    margin-top: 0;
    .grid-columns {
      grid-template-columns: repeat(1, 1fr);
      max-width: 100%;
    }

    .image {
      border-radius: 0;
    }

    .title {
      text-align: center;
      font-size: 1.8em;
      margin-bottom: 50px;
    }
    .details, .ingredients {
      max-width: 1200px;
      margin: 0 auto;
      width: 80%;
    }

    .details { margin-bottom: 30px;}

    .info {
      .grid-columns {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media all and (max-width: 480px) {
  .page--recipe {
    font-size: 1em;

    .recipe-content { margin-bottom: 30px;}
    .grid-columns {
      gap: 20px;
    }

    .title {
      font-size: 1.8em;
      margin-bottom: 20px;
    }

    .details { margin-bottom: 10px;}

    .info {
      .grid-columns {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
      }
    }
  }
}
