<div class="page page--categories">
  <app-hero [heroImages]="'../../../assets/images/categoriesHero.jpg'"> Categories </app-hero>
  <div class="page__content">
    <section class="categories grid-columns">
      <div class="category"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.479)), url({{category.imgPath}});"
        [ngClass]="{'odd': category.id%2 === 0, 'even': category.id%2 !== 0}"
        *ngFor="let category of categories; index as i"
        [routerLink]="['/category', category.id]">

        <h2 class="title">{{category.name}}</h2>
      </div>
    </section>
  </div>
</div>
