.slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  &__direction {
    .prev, .next {
      position: fixed;
      top: 40vh;
      fill: var(--secondaryColor);
      cursor: pointer;
      width: 50px;
      height: 50px;
      z-index: 2;

      &:hover {
        fill: var(--primaryColor);
      }
    }
    .prev { left: 2%; }
    .next { right: 2%; }
  }

  &__slide {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: content-box;
    margin: -112px auto -66px;
    z-index: 1;
    min-height: 900px;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &.single {
      min-height: 500px;
    }
  }

  &__navigation {
    position: absolute;
    bottom: 40px;
    right: 50px;
    z-index: 2;

    .grid-columns{
      justify-content: right;
      gap: 30px;
      grid-auto-flow: column;
    }
  }
}

.innerSlide {
  max-width: 1360px;
  width: 80%;
  margin: 0 auto;

  &__text {
    font-size: 1.3em;
    color: var(--secondaryColor);
    text-shadow: 1px 1px var(--blackColor);
    margin-bottom: 30px;
  }

  &--section2 {
    text-align: right;
    margin-bottom: 50px;
  }
}

.divider {
  position: absolute;
  margin: 0 auto;
  border: 1px solid var(--secondaryColor);
  width: 120%;
  transform: rotate(164deg);
  backface-visibility: hidden;
}

// Responsive
@media all and (max-width: 1280px) {
  .innerSlide {
    .title {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }
}

@media all and (max-width: 980px) {
  .slider {
    &__slide {
      margin: -90px auto -64px;
    }
    &__direction {
      .prev, .next {
        top: 48vh;
        width: 30px;
        height: 30px;
      }
    }

    &__navigation {
      .list {
        gap: 20px;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .slider {
    &__slide {
      &.single {
        min-height: 400px;
      }
    }
  }

  .innerSlide  {
    text-align: center;

    &--section2 {
      text-align: center;
    }
  }

  .divider {
    transform: rotate(0);
    width: 100%;
  }
}
