.data-iterator {
  margin: 0 auto;
  display: grid;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .sort {
      display: flex;
      &__by, &__option {
        padding: 6px;
        box-shadow: 2px 2px 3px var(--grayColor);
        font-size: 1em;
        color: var(--blackColor);
        text-shadow: 1px 1px var(--primaryColor);
        background: var(--secondaryColor);
        border: none;

        &:focus { outline: none; }
      }

      &__direction {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 35px;
        padding-bottom: 4px;
        background: var(--secondaryColor);
        box-shadow: 2px 2px 3px var(--grayColor);

        svg {
          width: 16px;
          height: 16px;
        }

        &:hover {
          background: var(--blackColor);
          color: var(--primaryColor);
          svg {fill: var(--primaryColor);}
        }

        &.active, &:hover.active {
          background: var(--primaryColor);
          svg {fill: var(--blackColor);}
        }
      }
    }

    .search {
      display: flex;

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        padding-bottom: 4px;
        background: var(--primaryColor);
        box-shadow: 2px 2px 3px var(--grayColor);

        svg {
          width: 18px;
          height: 18px;
        }
      }

      &__input {
        padding: 6px;
        font-size: 1.1em;
        border: none;
        background: var(--secondaryColor);
        box-shadow: 2px 2px 3px var(--grayColor);

        &::-webkit-input-placeholder { color: var(--blackColor); }
        &::-moz-placeholder { color: var(--blackColor); }
        &:-ms-input-placeholder { color: var(--blackColor); }
        &:-moz-placeholder { color: var(--blackColor); }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__content {
    margin-bottom: 50px;
    .grid {
      display: grid;
      gap: 40px;
      justify-content: space-between;
      grid-template-columns: repeat(3, 1fr);

      &__noResults {
        text-align: center;
        box-shadow: 2px 2px 3px var(--primaryColor);
        text-shadow: 1px 1px var(--secondaryColor);
        font-size: 2em;
      }
    }
  }

  &__footer {
    .pagination {
      display: grid;
      grid-auto-flow: column;
      gap: 40px;
      justify-content: right;
      text-align: right;
      align-items: center;

      &__info {
        display: flex;
        justify-content: space-between;
        gap: 40px;
      }

      .page-info {
        box-shadow: 2px 2px 3px var(--grayColor);
        text-shadow: 1px 1px var(--primaryColor);
        padding: 6px 10px;
      }

      .select-items {
        font-size: 1.1em;
        text-shadow: 1px 1px var(--primaryColor);
        background: var(--secondaryColor);
        padding: 6px 10px;
        box-shadow: 2px 2px 3px var(--grayColor);
        border: none;
        &:focus {
          outline: none;
        }
      }
      .navigation {
        display: grid;
        grid-auto-flow: column;
        gap: 8px;
        align-items: center;
      }
    }
  }
}

// Responsive
@media all and (max-width: 1366px) {
  .data-iterator {
    &__content {
      .grid { grid-template-columns: repeat(2, 1fr); }
    }
  }
}

@media all and (max-width: 980px) {
  .data-iterator {
    &__content {
      .grid { grid-template-columns: repeat(1, 1fr); }
    }
    &__footer {
      .pagination {
        &__info {
          .page-info, .select-items {
            padding: 6px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .data-iterator {
    &__header {
      display: block;
      margin-bottom: 30px;
      .sort {
        margin-bottom: 20px;
        &__by, &__option  {
          width: 100%;
        }
      }

      .search {
        &__input {
          width: 100%;
        }
      }
    }

    &__footer {
      .pagination {
        display: block;
        margin: 0 0 0 auto;

        &__info {
          margin-bottom: 20px;

          .page-info {
            font-size: 1.2em;
            padding: 6px 20px;
            text-align: center;
          }

          .select-items {
            padding: 6px 20px;
          }
        }

        .navigation {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .data-iterator {
    &__footer {
      .pagination {
        &__info {
          gap: 10px;
          .page-info {
            font-size: 1em;
            padding: 4px;
            text-align: center;
          }

          .select-items {
            padding: 4px;
          }
        }
      }
    }
  }
}
















