<section class="data-iterator">
  <ng-container *ngIf="items | search: searchQuery as result">

    <header class="data-iterator__header">
      <div class="sort">
        <select class="sort__by" [(ngModel)]="sortBy">
          <option class="sort__option" *ngFor="let objectProperty of objectProperties" value="{{objectProperty.key}}"> {{objectProperty.value}} </option>
        </select>
        <span class="sort__direction" type="button" [class.active]="sortDirection === 'ascending'"
          (click)="onChangeSortDirection('ascending')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill-rule="evenodd" clip-rule="evenodd"><path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"/>
          </svg></span>
        <span class="sort__direction" type="button" [class.active]="sortDirection === 'descending'"
          (click)="onChangeSortDirection('descending')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/>
          </svg></span>
      </div>
      <div class="search">
        <span class="search__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z" /> </svg></span>
        <input class="search__input " type="search" placeholder="Search... " [(ngModel)]="searchQuery"
          (keyup)="changePage('firstPage', result.length)">
      </div>
    </header>

    <main class="data-iterator__content">
      <ng-container *ngIf="!grid && !customGrid">
        <table class="table">
          <thead class="table__head">
            <tr class="table__head__items">
              <th class="table__head__item" *ngFor="let objectProperty of objectProperties">{{ objectProperty.value }}</th>
            </tr>
          </thead>
          <tbody class="table__body" *ngIf="result.length > 0; else noResults">
            <tr class="table__body__items"
              *ngFor="let item of result | sort: sortBy: sortDirection | pagination: current_page: items_per_page">
              <td class="table__body__item" *ngFor="let objectProperty of objectProperties">{{ item[objectProperty.key] }}</td>
            </tr>
          </tbody>
          <ng-template #noResults>
            <div class="table__noResults">No Results</div>
          </ng-template>
        </table>
      </ng-container>
      <ng-container *ngIf="grid">
        <div class="grid" *ngIf="result.length > 0; else noResults">
          <div class="grid__item"
            *ngFor="let item of result | sort: sortBy: sortDirection | pagination: current_page: items_per_page">
            <ng-container *ngIf="!customGrid">
              <div *ngFor="let objectProperty of objectProperties">
                {{objectProperty.value }} :
                {{ item[objectProperty.key] }}
              </div>
            </ng-container>
            <ng-container *ngIf="customGrid">
              <ng-container [ngTemplateOutlet]="customGridTemplate" [ngTemplateOutletContext]="{$implicit: item}">
              </ng-container>
            </ng-container>
          </div>
        </div>
        <ng-template #noResults>
          <div class="grid__noResults">No Results</div>
        </ng-template>
      </ng-container>
    </main>

    <footer class="data-iterator__footer" *ngIf="result.length !== 0">
      <div class="pagination">
        <div class="pagination__info">
          <div class="page-info">Page {{current_page}} from {{getTotalPagesNumber(result.length)}}</div>
          <select class="select-items" [(ngModel)]="items_per_page" (change)="changePage('firstPage', result.length)">
            <option *ngFor="let item_per_page of array_items_per_page" [value]="item_per_page">{{item_per_page}}
            </option>
          </select>
        </div>
        <div class="navigation">
          <app-button styleClasses="button--primaryButton button--paddingSmall" type="button"
            [disabled]="true ? current_page === 1 || result.length === 0 : false"
            (click)="changePage('firstPage', result.length)">&#x0003C;&#x0003C;</app-button>
          <app-button styleClasses="button--primaryButton button--paddingSmall" type="button"
            [disabled]="true ? current_page === 1 || result.length === 0 : false"
            (click)="changePage('prevPage',  result.length)">&#x0003C;</app-button>
          <app-button styleClasses="button--primaryButton button--paddingSmall" type="button"
            [disabled]="true ? current_page === getTotalPagesNumber(result.length) || result.length === 0 : false"
            (click)="changePage('nextPage',result.length)">&#x0003E;</app-button>
          <app-button styleClasses="button--primaryButton button--paddingSmall" type="button"
            [disabled]="true ? current_page === getTotalPagesNumber(result.length) || result.length === 0 : false"
            (click)="changePage('lastPage', result.length)">&#x0003E;&#x0003E;</app-button>
        </div>
      </div>
    </footer>

  </ng-container>
</section>
