.hero {
  margin-bottom: 50px;
  background-position: center, bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: var(--primaryColor);
    text-shadow: 2px 5px var(--blackColor);
    line-height: 1;
  }
}


// Responsive
@media all and (max-width: 700px) {
  .hero {
    height: 110px;
    margin-bottom: 30px;
  }
}
