<div class="page page--about">
  <app-hero [heroImages]="'assets/images/aboutHero.jpg'"> About </app-hero>
  <div class="page__content">
    <section class="container">
      <div class="grid-columns">
        <div class="column">
          <h2 class="title">CookeryBook</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam voluptatibus reiciendis doloribus veniam numquam officia eos, aliquid enim! Ut minima saepe in nulla assumenda quo dolores nemo facere quae porro.</p>
        </div>
        <div class="column">
          <img class="image" src="../../assets/images/slider/about.jpg" alt="about">
        </div>
      </div>
    </section>
  </div>
</div>
