<div class="page page--about">
  <app-hero [heroImages]="'assets/images/aboutHero.jpg'"> About </app-hero>
  <div class="page__content">
    <section class="container">
      <div class="grid-columns">
        <div class="column">
          <h2 class="title">CookeryBook</h2>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat tempor suscipit. Etiam euismod odio vel augue cursus, at tristique lectus tristique. In at interdum est. Vestibulum fermentum ultricies mi a efficitur. Phasellus commodo varius tortor, id facilisis nibh semper id. Suspendisse velit risus, volutpat ut metus id, feugiat finibus ante. Sed in sagittis massa. Sed ac mi maximus, ultrices velit eget, rhoncus ex.</p>
        </div>
        <div class="column">
          <img class="image" src="../../assets/images/slider/about.jpg" alt="about">
        </div>
      </div>
    </section>
  </div>
</div>
