.page--about {
  .grid-columns {
    align-items: center;
  }

  .text {
    margin-bottom: 0;
  }
}

// Responsive
@media all and (max-width: 1280px) {
  .page--about {
    .grid-columns { place-items: center; }
  }
}
