<div class="page page--category">
  <app-hero [heroImages]="imgCategory"> {{category}} </app-hero>
  <div class="page__content">
    <section class="data-iterator">
      <app-data-iterator [items]="filteredRecipes" [grid]="true" [customGrid]="true"
        [objectProperties]="objectProperties">
        <ng-template #customGridTemplate let-item>
          <app-recipe-item [item]="item" [adminPermission]="isLogged">
          </app-recipe-item>
        </ng-template>
      </app-data-iterator>
    </section>
  </div>
</div>
